*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
@font-face {
    font-family: roboto;
    src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}

html,body{
	width: 100%;
	height: 100%;
        font-family: roboto;
	background-color: white;
}